<p class="consulta--lista__advertencia">
	Esta consulta no tiene caracter legal
</p>
<ul class="consulta--lista">
	<li class="lista--elem">
		<span class="lista--elem__identificador">Póliza:</span> 
		<span class="lista--elem__data" id="polizaData">ADER9-45645654-FDE</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Ubicación:</span> 
		<span class="lista--elem__data" id="ubicacionData">1</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Fecha de consulta</span> 
		<span class="lista--elem__data" id="fechaData">26/11/2015 11:45 hrs.</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Compañía:</span> 
		<span class="lista--elem__data" id="companiaData">METLIFE</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Tipo de seguro:</span> 
		<span class="lista--elem__data" id="seguroData">Total</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Estatus:</span> 
		<span class="lista--elem__data" id="estatusData">Vigente</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Vigencia inicio:</span> 
		<span class="lista--elem__data" id="vigenciaData">04/05/2015</span>
		<span class="lista--elem__identificador">Vigencia fin:</span> 
		<span class="lista--elem__data" id="vigenciaData">04/05/2015</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Asegurado:</span> 
		<span class="lista--elem__data" id="aseguradoData">Guarderia 123</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Dirección:</span> 
		<span class="lista--elem__data" id="direccionData">Calle Roo Barcenas</span>
	</li>
	<li class="lista--elem">
		<span class="lista--elem__identificador">Especificación:</span> 
		<span class="lista--elem__data" id="especificacionData">Seguro total a terceros</span>
	</li>
</ul>