<div class="panel__password" id="panelPassword">
	<header class="header">
		<div class="title title__login">
			<span class="icon-checkmark h1__login margin-bottom-20 margin-top-20"> </span>
			<h1 class="h1__login">
				Seguros Obligatorios <br>
				de daños
			</h1>
		</div>
		<div class="title title__login title--orange">
			<span></span>
		</div>
	</header>

	<form class="form form__password" id="formLoginPass" name="formLoginPass" method="get" action="">
		<p class="subtitle">
			Cambio de contraseña
		</p>
		<div class="textfield">
			<label class="label transition">Contraseña</label>
			<input type="password" class="input input__recuperacion" maxlength="8" name='passwordUser' id='passwordUser' module='password' required>
		</div>
		<div class="textfield">
			<label class="label transition">Confirmar contraseña</label>
			<input type="password" class="input input__recuperacion" maxlength="8" name='passwordUserConf' id='passwordUserConf' module='password' required>
		</div>
		<div class="mensaje mensaje--confirmacion hidden" id="mensajeExitoPass">
			<p>
				La contraseña fue cambiada correctamente, a continuación se cerrará su sesión y debera ingresar con su nueva contraseña.
			</p>
		</div>

		<button type='submit' class="btn btn--orange btn__password" id="btnPassword">Continuar</button>
		<button type='button' class="btn btn--orange btn__password btn--hide" id="btnPassLogin" href="#">Finalizar</button>
	</form>
	<footer class="legal">
		<a href="#">Aviso de privacidad</a>
	</footer>
</div>
<script src="./public/js/login/recuperacionController.js"></script>